* {
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.appHeader {
  background-color: #28293e;
}

.appContent {
  background-color: #fdf0e9;
}